* {
  box-sizing: border-box;
}

div.wrapper h2 {
  text-align: center;
  margin-top: 8%;
}

div.wrapper form {
  text-align: center;
  margin: 2%;
}

div.wrapper form .form__input {
  margin-top: 2%;
}

div.wrapper form .form__input label {
  font-size: 1.1rem;
}

div.wrapper form .form__input input {
  padding: 4px 10px;
  margin-left: 1%;
}

div.wrapper form button {
  margin-top: 3%;
  color: white;
  background-color: #090e69;
  border: none;
  padding: 10px 14px;
  border-radius: 2px;
}

div.results {
  border: 2px solid bisque;
  width: 35%;
  margin-left: 32.5%;
  /* visibility: hidden; */
}

div.results h1 {
  text-align: center;
}
